In [ ]:
print("hello world")

hello world

In [14]:
##fibonachee Series

def fibonachee(n):
    fib=[0,1]
    while len(fib)<n:
      fib.append(fib[-1]+fib[-2])
    return fib

num=20
series=fibonachee(num)
print( f"Fiboo : {series}")

Fiboo : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [16]:
#Iterate to List
List=["I","am","Tushar"]
for i in List:
  print(i)

I
am
Tushar

In [22]:
#Iterate to List with while
n=0
List=["I","am","Tushar"]
while n<len(List):
  print(List[n])
  n+=1

I
am
Tushar

In [24]:
#try statement
age=34
try:
  if age<40:
    print("Young")
  else:
    print("old")
except:
  print("Something went wrong")
finally:
  print("Done")

Young
Done

In [29]:
#__init__
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def __str__(self):
    return f"Detail {self.name}({self.age})"

detail=Person("Tushar","34")
print(detail)

Detail Tushar(34)

In [38]:
from posixpath import join
#merge dataset
import pandas as pd
data1 = {'id': [1, 2, 3, 4], 'name': ['Alice', 'Bob', 'Charlie', 'David']}
data2 = {'id': [3, 4, 5, 6], 'age': [25, 30, 35, 40]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print(df2)
merged_pd=pd.merge(df1,df2,on='id',how='left')
print(merged_pd)

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
   id  age
0   3   25
1   4   30
2   5   35
3   6   40
   id     name   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  25.0
3   4    David  30.0